<form role="form" name="inschrijvingsForm" novalidate>
    <div class="row">
        <div class="col-lg-5">
            <label>Voornaam + Familienaam</label>
            <div>
                <input type="text" class="form-control" id="if_naam" name="if_naam"
                       data-ng-model="inschrijfCtrl.reservatie.personen[0].naam"
                       required minlength="2" />
            </div>
        </div>
        <div class="col-lg-7">
            <label>E-mailadres</label>
            <input type="email" class="form-control" name="if_email"
                   data-ng-model="inschrijfCtrl.reservatie.personen[0].email"
                   required />
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <label>Leeftijd</label>
            <input type="number" class="form-control" name="if_leeftijd"
                   data-ng-model="inschrijfCtrl.reservatie.personen[0].leeftijd"
                   required min="15" />
        </div>
        <div class="col-lg-7">
            <label>Hoeveel keer heb je al geweerwolfd?</label>
            <div>
                <label class="radio-inline">
                    <input type="radio" name="if_ervaring" value="0"
                           data-ng-model="inschrijfCtrl.reservatie.personen[0].ervaring"
                           data-ng-required="!inschrijfCtrl.reservatie.personen[0].ervaring">0</input>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="if_ervaring" value="1-2"
                           data-ng-model="inschrijfCtrl.reservatie.personen[0].ervaring"
                           data-ng-required="!inschrijfCtrl.reservatie.personen[0].ervaring">1-2</input>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="if_ervaring" value="3-4"
                           data-ng-model="inschrijfCtrl.reservatie.personen[0].ervaring"
                           data-ng-required="!inschrijfCtrl.reservatie.personen[0].ervaring">3-4</input>
                </label>
                <label class="radio-inline">
                    <input type="radio" name="if_ervaring" value="5+"
                           data-ng-model="inschrijfCtrl.reservatie.personen[0].ervaring"
                           data-ng-required="!inschrijfCtrl.reservatie.personen[0].ervaring">5+</input>
                </label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="form-group">
                <label>Hoeveel extra mensen wil je inschrijven? (Maximum 9)</label>
                <input type="number" name="if_aantalMensen" class="form-control"
                       data-ng-model="inschrijfCtrl.reservatie.aantalMensen"
                       min="0" max="9" required />
            </div>
        </div>
    </div>
    <button id="btnStap" class="btn btn-wolf"
            data-ng-click="inschrijfCtrl.volgendeStap()"
            data-ng-disabled="inschrijvingsForm.$invalid"
            data-ng-hide="inschrijfCtrl.reservatie.aantalMensen == 0">
        Volgende stap
    </button>
    <button id="btnKlaar" class="btn btn-wolf"
            data-ng-click="inschrijfCtrl.inschrijven(); form.$setPristine()"
            data-ng-disabled="inschrijvingsForm.$invalid"
            data-ng-hide="inschrijfCtrl.reservatie.aantalMensen != 0 && inschrijfCtrl.stap != 2">
        Inschrijven
    </button>
    <div class="row">
        <span data-ng-show="inschrijfCtrl.error">Aantal mensen moet groter of gelijk zijn aan 0 en kleiner dan 10.</span>
    </div>
    <div class="row">
        <span data-ng-show="inschrijfCtrl.progress">Even geduld, de inschrijving wordt verwerkt.</span>
    </div>
</form>