<a id="weerwolvenevent"></a>

<div class="container" id="jumboContainer" data-ng-init="scrollCtrl.scrollToAnchor(1)">
    <div class="row" id="thirdRow">
        <div class="jumbotron text-center" id="weerwolveneventJumbo">
            <h1 class="hidden-xs">Weerwolvenevent 2015</h1>
            <h1 class="visible-xs-* hidden-sm hidden-md hidden-lg">Weerwolven</h1>
            <h1 class="visible-xs-* hidden-sm hidden-md hidden-lg">Event 2015</h1>
            <p>Er zijn slechts 72 plaatsen dus schrijf je snel in!</p>
        </div> <!-- weerwolveneventJumbo -->
    </div> <!-- thirdrow -->
</div> <!-- jumboContainer -->

<div class="container">
    <div class="row" id="fourthRow">
        <div class="col-md-3" id="eventWanneer">
            <h3>Wanneer</h3>
            <p>Ons aankomende event zal doorgaan op 28 februari 2015, vanaf 19u00. Vergeet niet je tijdig in te schrijven, het aantal plaatsen is beperkt! Inschrijven kan vanaf 31 oktober 2014.</p>
        </div> <!-- eventWanneer -->

        <div class="col-md-3" id="eventWat">
            <h3>Wat</h3>
            <p>
                Op 28 februari  zullen we in grote groep drie maal het spel 'Weerwolven en Waaghalzen' spelen. De burgers en de weerwolven zullen het tegen elkaar opnemen in dorpen van 18 spelers.
                Je zult moeten liegen en de juiste mensen op het juiste moment moeten vermoorden om te overleven in deze dorpen waar de wijsvinger een dodelijk wapen is.
                <br/>Voor 7EUR mag je de hele avond deelnemen, en krijg je er nog een gratis consumptie bovenop!
            </p>
        </div> <!-- eventWat -->

        <div class="col-md-3" id="eventWie">
            <h3>Wie</h3>
            <p>Iedereen ouder dan 15 is welkom! Ook als je nog nooit gespeeld hebt, moet je geen schrik hebben om deel te nemen. Onze spelleiders zullen alles uitleggen en we beginnen met een eenvoudig spel. Voor de ervaren spelers voegen we daarna enkele extra's toe om het extra spannend te maken.</p>
        </div> <!-- eventWie -->

        <div class="col-md-3" id="eventWaar" ">
            <h3>Waar</h3>
            <p>
                Sint-Jozefinstituut Bokrijk<br>
                Hasseltweg 383<br>
                3600 Genk-Bokrijk<br>
            </p>
            <!-- div class="Flexible-container" -->
            <iframe width="100%" height="150" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2513.2428015849255!2d5.4270789999999955!3d50.956215!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c120bb3d225fd1%3A0xe54f29335c6c1000!2sSt+Jozefinstituut!5e0!3m2!1sen!2sbe!4v1411228214004"></iframe>
            <!-- /div -->
        </div> <!-- eventWaar -->

    </div> <!-- fourthRow -->
</div> <!-- container -->